/* TODO:

*/
/*/ Variables /*/
/*/ Style Reset /*/
html, body, div, main, nav, aside, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/*/ Old Classes /*/
.clickable {
  cursor: pointer;
}

.panel {
  border-color: #FF0000;
}

.panel-heading {
  background-image: none;
  background-color: #FF0000;
  color: #22123a;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
  text-decoration: none;
  background-color: #ec7d1f;
}

.nav-pills > li > a {
  text-decoration: none;
  color: #22123a;
}

/*/ New Classes /*/
html {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

#body-text {
  font-family: "IBMPlexSans-text";
}

#zcee-logo {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}

#zcee-title {
  display: inline-block;
}

.test {
  background-color: #DEDEDE;
  color: #202020;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #D0D0D0;
}
