/* TODO:

*/

/*/ Variables /*/

$red: #FF0000;


/*/ Style Reset /*/


/*/ Old Classes /*/

.clickable {
   cursor: pointer;
}

.panel {
  border-color: #FF0000;
}

.panel-heading {
  background-image: none;
  background-color: #FF0000;
  color: #22123a;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
    text-decoration: none;
    background-color: #ec7d1f;
}

.nav-pills>li>a {
  text-decoration: none;
  color: #22123a;
}

/*/ New Classes /*/

.test{
  background-color: #DEDEDE;
  color: #202020;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #D0D0D0;
}
