/*/ Style Reset /*/
html, body, div, main, nav, aside, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/*/ Page Classes /*/
.clickable {
  cursor: pointer;
}

.panel {
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  height: 250px;
}

.panel:hover {
  box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s;
}

.no-style {
  text-decoration: none;
}

.no-style:hover {
  text-decoration: none;
}

.panel-heading {
  background-image: none;
  padding: 10px;
}

.panel-title {
  text-decoration: none;
  display: inline-block;
}

.panel-image {
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}

html {
  padding-top: 60px;
  padding-bottom: 60px;
}

#body-text {
  font-family: "IBMPlexSans-text";
}

#zcee-logo {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 767px) {
  #zcee-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

#zcee-title {
  display: inline-block;
}

@media (max-width: 767px) {
  #zcee-title {
    display: block;
    text-align: center;
  }
}

.center-header {
  padding-top: 80px;
}

@media (max-width: 767px) {
  .center-header {
    padding-top: 0px;
  }
}

.welcome-header {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .welcome-header {
    width: 100%;
    text-align: center;
  }
}

.zcee-button {
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  padding: 10px 20px;
  margin-top: 30px;
  width: 175px;
  text-align: center;
}

@media (max-width: 767px) {
  .zcee-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
}

.zcee-button:hover {
  background: #fe8500;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s;
  cursor: pointer;
  /*TODO: Add in the anchor to the bototm of the page */
}

.find-out-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .find-out-button {
    margin-bottom: 40px;
  }
}

.find-out-image {
  width: 80%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 767px) {
  .find-out-image {
    width: 260px;
  }
}

#link-clear {
  text-decoration: none;
  color: #333;
}

.welcome-description {
  margin-top: 30px;
  width: 85%;
}

@media (max-width: 767px) {
  .welcome-description {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 30px;
  }
}

.section-space {
  margin-top: 60px;
}

#section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}

/* SVG Classes */
#svg-container {
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 767px) {
  #svg-container {
    display: none;
  }
}

#zcee-picture {
  width: 580px;
  display: block;
  margin: 0 auto;
}

.base-shadow {
  display: block;
}

.ibm-footer {
  text-align: center;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .ibm-footer {
    margin-top: 10px;
  }
}

.test {
  border: 1px solid #D2D2D2;
  background-color: #EBEBEB;
  text-align: center;
  padding: 20px;
}
